<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bundle ID</key>
	<string>com.fatjnet.fatjnet</string>
	<key>CFBundleIdentifier</key>
	<string>com.exvision.mpreview</string>
	<key>CFBundleName</key>
	<string>FATj.Net</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>Current script</key>
	<string>tewst</string>
	<key>Description</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>miniphp</string>
	<key>Extensions</key>
	<array>
		<string>wxbinder</string>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.0.0</string>
	<key>Organization</key>
	<string>FATj.Net</string>
	<key>Scripts</key>
	<dict>
		<key>main</key>
		<string>&lt;?&#13;
&#13;
$window = new Window(null, "FATj.Net", 500, 500, 500, 340);&#13;
$window-&gt;Center();&#13;
$window-&gt;Connect(WBE_CLOSE, "quit");&#13;
&#13;
$window-&gt;Image = new StaticImage($window, "res:///FATjNet.png", 125, 12);&#13;
new StaticText($window, "File path", 150, 120);&#13;
$window-&gt;textCtrl1 = new TextCtrl($window, "", 150, 140, 200);&#13;
new StaticText($window, "Transfer duration (in hours)", 150, 180);&#13;
$window-&gt;textCtrl2 = new TextCtrl($window, "", 150, 200, 200);&#13;
$button = new Button($window, "Launch !", 210, 250);&#13;
$button-&gt;Connect(WBE_BUTTON_CLICKED, "launch");&#13;
&#13;
App::Start();&#13;
&#13;
function launch($window, $ctrl=null, $event=null)&#13;
{&#13;
	$window-&gt;textCtrl1-&gt;SetText("ex: /my_folder/myFile.txt");&#13;
	$window-&gt;textCtrl2-&gt;SetText("ex: 18");&#13;
	include "script:///tewst";&#13;
}&#13;
&#13;
function quit($barr, $window, $event)&#13;
{&#13;
	App::Quit();&#13;
}&#13;
&#13;
?&gt;</string>
		<key>tewst</key>
		<string>&lt;?php&#13;
echo "HELLLO";&#13;
 ?&gt;</string>
	</dict>
	<key>Main script</key>
	<string>main</string>
	<key>Splitter position</key>
	<integer>162</integer>
	<key>Support URL</key>
	<string></string>
	<key>Use resource fork</key>
	<false/>
	<key>Window X</key>
	<integer>313</integer>
	<key>Window Y</key>
	<integer>167</integer>
	<key>Window width</key>
	<integer>850</integer>
	<key>Window height</key>
	<integer>554</integer>
</dict>
</plist>
